html {
	background-color: rgba(248,248,248,1);
}

html, header, body, footer {
	max-width: 100%;
}

.hamburger {
}

.HeaderLinkBurger {
	margin-top: -27%;
}


/* BODY STYLING */
body {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

body article {
  display: block;
	width: 90vw;
	margin: 3.5em auto;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: 'Avenir Next', sans-serif;
}

p {
	padding-bottom: 10px;
}

h1 {
	font-size: 30px;
	font-weight: bold;
}

/* FOOTER STYLING */

#copyright {
  text-align: right;
  margin-right: 2%;
}

/* INDEX.HTML */

.headline {
	text-align: center;
	padding-top: 1%;
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
	color: white;
}

.icons {
	float: left;
	margin-left: 50px;
	margin-bottom: 30px;
  margin-right: 50px;
  height: 60px;
}

.one {
	width: 100%;
    margin-top: -2%;
	background-image: url("img/apartment.jpg"), url("img/staircase.jpg"), url("img/facade.jpg");
	background-position: left, right top, right bottom;
	background-repeat: no-repeat;
	font-family: 'Avenir Next', sans-serif;
}

.two {
	border-top: 2px solid lightcoral;
}

.two p {
	font-family: 'Avenir Next', sans-serif;
	font-weight: bold;
	font-size: 30px;
}

/* ABOUT.HTML */

.aboutone {
	font-weight: lighter;
	font-size: 14px;
}

.descript-text p {
	font-family: 'Avenir Next', sans-serif;
	font-size: 14px;
	font-weight: lighter;
	margin-right: 25%;
}

.about-header {
	font-size: 30px;
	font-weight: bold;
}

.prof-text {
	font-size: 14px;
}

.leftpic {
  margin-right: 30px;
  border-radius: 50%;
  height: 100px;
	float:left;
}

.rightpic {
  float: right;
  margin-left: 30px;
  border-radius: 50%;
  height: 100px;
}

.profile {
	margin-top: -3%;
}

#bold {
	color: lightcoral;
}

/* BENEFITS DROPDOWN */

.hamburger {
	margin-left: 10px;
	margin-bottom: 30px;
	display: inline-block;
	border-bottom: 0px solid currentColor;
  font-weight: bolder;
}

.dropdown2 {
	margin-top: 5%;
	display: inline-block;
	border-bottom: 0px solid currentColor;
  font-weight: bolder;
}

.dropdown-content2 {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown2:hover .dropdown-content2 {display: block; background-color: lightcoral;}
.dropdown-content2 a:hover {color: #ddd; margin-left: 5px;}

.hamburger:hover .dropdown-content {display: block; background-color: lightcoral;}
.dropdown-content a:hover {color: #ddd; margin-left: 5px;}

.popup {
  position: fixed;
	z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: fixed;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
	text-align: center;
}

.signin-popup-close {
    font-size: 1.5em;
    color: dimgrey;
    margin-left: 77.5%;
    margin-top: 9.5%;
    position: absolute;
    cursor: pointer;
}

.signout-popup-close {
    font-size: 1.5em;
    color: dimgrey;
    margin-left: 77.5%;
    margin-top: 4.5%;
    position: absolute;
    cursor: pointer;
}

.closePopButton {
	position: absolute;
	bottom: 10px;
	margin: auto;
  background: white;
	text-align: center;
}
